<html>
<body>
<header>
    <div class="container">
        <div class="header-content">
            <a href="../index.html" class="logo">
                <img src="../views/public/images/LogoLogo.png" alt="TipTop" class="logo-image">
            </a>
            <nav class="main-nav">
                <div class="main-nav-links">
                    <a href="../views/promoci.html">Промоции</a>
                    <a href="../views/contact.html">Контакт</a>
                </div>
                <div class="auth-dropdown">
                    <button class="btn-account" id="account-button">Анонимен</button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="#" id="login-btn">Најава</a>
                        <a href="#" id="register-btn">Регисрација</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

            <div id="login-modal" class="modal">
        <div class="modal-content">
            <button class="close-btn">&times;</button>
            <h2>Најава</h2>
            <form id="login-form">
                <div class="form-group">
                    <label for="login-username">Корисничко име</label>
                    <input type="text" id="login-username" name="login-username" required placeholder="Внесете го вашето корисничко име...">
                </div>
                <div class="form-group">
                    <label for="login-password">Лозинка</label>
                    <input type="password" id="login-password" name="login-password" required placeholder="Внесете ја вашата лозинка...">
                </div>
                <button type="submit" class="form-submit-btn">Најави се</button>
                <p id="message-login"></p>
                <p class="form-switch">Немате акаунт? <a href="#" id="show-register">Регистрирај те се!</a></p>
            </form>
        </div>
    </div>




    <div id="register-modal" class="modal">
        <div class="modal-content">
            <button class="close-btn">&times;</button>
            <h2>Регистрација</h2>
            <form id="register-form">
                <div class="form-group">
                    <label for="register-user">Корисничко име</label>
                    <input type="text" id="register-user" name="register-user" required placeholder="Внесете корисничко име (Максимално 8 карактери)...">
                </div>
                <div class="form-group">
                    <label for="register-matichen">Матичен број</label>
                    <input type="number" id="register-matichen" name="register-matichen" required placeholder="Внесете го вашиот матичен (13 цифри)...">
                </div>
                <div class="form-group">
                    <label for="register-password">Лозинка</label>
                    <input type="password" id="register-password" name="register-password" required placeholder="Внесете ја вашата лозинка...">
                </div>
                <div class="form-group">
                    <label for="register-id-photo">Слика од лична карта</label>
                    <input type="file" id="register-id-photo" name="id-photo" required accept="image/*">
                </div>
                <button type="submit" class="form-submit-btn">Регистрирај се</button>
                <p id="message-area"></p>
                <p class="form-switch">Имате акаунт? <a href="#" id="show-login">Најавете се!</a></p>
            </form>
        </div>
    </div>
</header>

        <script src="public/js/register.js"></script>

</body>
</html>        