<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipTop - Мои Тикети</title>
    <link rel="icon" type="image/png" href="views/public/images/LogoLogo.png">
    <link rel="stylesheet" href="/views/public/css/styles.css">
</head>
<body>
    <header>
        <div id="header-placeholder"></div>
    </header>

    <main class="container">
        <div class="page-header">
            <h1>Мои Тикети</h1>
            <p>Преглед на вашите тикети!</p>
        </div>
        <div id="my-tickets-container">
            <div class="loader"></div> </div>
    </main>

    <script src="/views/public/js/scripts.js"></script>
    <script src="/views/public/js/my-tickets.js"></script> </body>
</html>